.loginPanel{
    width: 500px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.signUpPanel{
    width: 500px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav > li{
    margin-left:30px;
    margin-right:50px;
  }

.navbar-header > a{
    margin-left:30px;
    margin-right:50px
}





