<div class="container">
                <%for(var i=0;i<clothing[1].categories[0].categories.length;i++){%>
        
                
                <div class="row"><h2><%=clothing[1].categories[0].categories[i].name%></h2></div>
                
                <div class="row"><h4><%=clothing[1].categories[0].categories[i].page_title%></h4></div>
                
                <div class="row">
                <img class="img-rounded" style="margin-bottom:20px" src="/public/images/<%=clothing[1].categories[0].categories[i].image%>">
                </div>
                <div class="row"><a href="/womens/clothing/<%=clothing[1].categories[0].categories[i].name.toLowerCase()%>" class="btn btn-info" role="button">View Products</a>
                </div>
                  
                <%}%>
</div>
        
        