<%for(var i=0;i<home.length;i++){%>
<div class="container">
                
        <div class="row"><h1><%=home[i].name%></h1></div>
        <div class="row"><p><%=home[i].page_description%></p></div>
        <div class="row"><a href="<%=home[i].id%>" class="btn btn-info" role="button">View Products</a></div>
</div>
<%}%>


