<div class="container">

    

    <%for(var i=0;i<Jewelry[1].categories[1].categories.length;i++){%>

    
    <div class="row"><h2><%=Jewelry[1].categories[1].categories[i].name%></h2></div>
    
    <div class="row"><h4><%=Jewelry[1].categories[1].categories[i].page_title%></h4></div>
    
    <div class="row">
    <img class="img-rounded" style="margin-bottom:20px" src="/public/images/<%=Jewelry[1].categories[1].categories[i].image%>">
    </div>
    <div class="row"><a href="/womens/jewelry/<%=Jewelry[1].categories[1].categories[i].name.toLowerCase()%>" class="btn btn-info" role="button">View Products</a>
    </div>
      
    <%}%>
</div>

