
<html>
    <link rel="stylesheet" href="/public/css/style.css"> 
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">      
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">  
    
    <body>
        <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
        <button type="button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#my-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>            
        </button>
        <a class="navbar-brand" href="/">SHOP</a>
        <a class="navbar-brand" href="/womens">Women</a>
        <a class="navbar-brand" href="/mens">Men</a>     

        </div>
        <div class="collapse navbar-collapse navbar-right" id="my-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="/signUp"><a href="/signUp">Sign Up <span class="glyphicon glyphicon-user"></span></a></li>
                <li class="/login"><a href="/login">Log in <span class="glyphicon glyphicon-log-in"></span></a></li>
            </ul>
        </div>
        
    </nav>
    

                
            <%- body%>
    
            
            <script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    

    <div class="container">
        <div class="row">
            <hr>
            <div class="col-lg-12">
                <div class="col-md-8">
                    <a href="#">Terms of Service</a> | <a href="#">Privacy</a>    
                        </div>
                        <div class="col-md-4">
                        <p class="muted pull-right">© OSF Global Services. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
  
    </body>
     
    
 </html>
