<div class="container">
    <div class="row">
        <div class="loginPanel">
                <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Giriş Paneli
                            </div>
                            <div class="panel-body">
                                <form action="/login" method="POST">
                                    <div style="margin-bottom:25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" name="username" id="username" class="form-control" placeholder="user name">
                                    </div>
                                    <div style="margin-bottom:25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="text" name="password" id="password" class="form-control" placeholder="password">
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Enter">
                                    <a href="/login/signUp" class="btn btn-success">Sign Up</a>
                                    
                                </form>
                            </div>
                        </div>
                        <div class="panel-footer clearfix">
                            <div class="pull-left">
                            </div>
                        </div>
                    </div>
        </div>
      
    </div>
</div>


