<div class="container">
        
            
        
            <%for(var i=0;i<mAccessories[0].categories[1].categories.length;i++){%>
        
            
            <div class="row"><h2><%=mAccessories[0].categories[1].categories[i].name%></h2></div>
            
            <div class="row"><h4><%=mAccessories[0].categories[1].categories[i].page_title%></h4></div>
            
            <div class="row">
            <img class="img-rounded" style="margin-bottom:20px" src="/public/images/<%=mAccessories[0].categories[1].categories[i].image%>">
            </div>
            <div class="row"><a href="/mens/accessories/mAccessories/<%=mAccessories[0].categories[1].categories[i].name.toLowerCase()%>" class="btn btn-info" role="button">View Products</a>
            </div>
              
            <%}%>
        </div>
        
        