<div class="container">
                
<%for(var i=0;i<mens[0].categories.length;i++){%>
<div class="row"><h2><%=mens[0].categories[i].name%></h2></div>               
<div class="row"><h4><%=mens[0].categories[i].page_title%></h4></div>
<div class="row"><h5><%=mens[0].categories[i].page_description%></h5></div>       
<div class="row">
<img src="/public/images/<%=mens[0].categories[i].image%>" class="img-rounded">
</div>
<div class="row"><a style="margin-top:25px;" href="/mens/<%=mens[0].categories[i].name.toLowerCase()%>" class="btn btn-info" role="button">View Products</a>
</div>

<%}%> 

</div>

