<div class="container">
        
    <div id="products" class="row list-group">
        <%for(var i=0;i<mensjackets.length;i++){%>
                
    <div class="item  col-sm-6">
        <div class="thumbnail">
            <img class="group list-group-image" src="/public/images/<%=mensjackets[i].image_groups[0].images[0].link%>" alt="" />
            <div class="caption">
                <h6 class="group inner list-group-item-heading">
                        <%=mensjackets[i].name%></h6>
                <div class="row">
                    <div class="col-sm-9">
                        <h5><b> Price:<%=mensjackets[i].price%><%=mensjackets[i].currency%></b></h5>
                    </div>
                    <div class="col-sm-99">
                        <a class="btn btn-default" href="/mens/clothing/mensclothing/jackets%20&%20coats/<%=mensjackets[i].id%>">More info</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>                                   
    <%}%>
    </div>
    
    </div>
    