
<!-- <div class="container">
        
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6" >
            <div class="dummy"></div>
            <div class="container">
                <%for(var i=0;i<outfits.length;i++){%>
                <h2><%=outfits[i].name%></h2><br>
                <img class="img-rounded" style="margin-bottom:20px" 
                src="/public/images/<%=outfits[i].image_groups[0].images[0].link%>"><br>
                <%=outfits[i].short_description%><br>
                <%=outfits[i].long_description%><br>
                <%}%>
            </div>
            
           </div>
          </div>
          
    </div> -->
  <!--  <div class="container">
    <div class="paragraphs">
            <div class="row">
                <h1>ASLIHAN</h1>
              <div class="span4" >
                <img style="float:left;" src="/public/images/products/large/70284588_100_C0.jpg" hspace="50"/>
                <div class="content-heading"><h3 >Experience &nbsp <br>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </h3></div>
              </div>
            </div>
          </div>
        </div> -->


        <div class="container">
                        
                <div id="products" class="row list-group">
                        <%for(var i=0;i<outfits.length;i++){%>
                                
                    <div class="item  col-sm-6">
                        <div class="thumbnail">
                            <img class="group list-group-image" src="/public/images/<%=outfits[i].image_groups[0].images[0].link%>" alt="" />
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
                                        <%=outfits[i].name%></h4>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h5><b> Price:<%=outfits[i].price%><%=outfits[i].currency%></b></h5>
                                    </div>
                                    <div class="col-sm-9">
                                        <a class="btn btn-default" href="/womens/clothing/outfits/<%=outfits[i].id%>">More info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>                                   
                    <%}%>
                </div>
                
            </div>
            