<div class="container">
    
<div id="products" class="row list-group">
    <%for(var i=0;i<red.length;i++){%>
            
<div class="item  col-xs-4 col-lg-3">
    <div class="thumbnail">
        <img class="group list-group-image" src="/public/images/<%=red[i].image_groups[0].images[0].link%>" alt="" />
        <div class="caption">
            <h6 class="group inner list-group-item-heading">
                    <%=red[i].name%></h6>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h5><b> Price:<%=red[i].price%><%=red[i].currency%></b></h5>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a class="btn btn-default" href="/womens/clothing/red/<%=red[i].id%>">More info</a>
                </div>
            </div>
        </div>
    </div>
   
</div>                                   
<%}%>
</div>

</div>
