<div class="container">
        
<div id="products" class="row list-group">
        <%for(var i=0;i<scarves.length;i++){%>
                
    <div class="item  col-sm-6">
        <div class="thumbnail">
            <img class="group list-group-image" src="/public/images/<%=scarves[i].image_groups[0].images[0].link%>" alt="" />
            <div class="caption">
                <h6 class="group inner list-group-item-heading">
                        <%=scarves[i].name%></h6>
                <div class="row">
                    <div class="col-sm-9">
                        <h5><b> Price:<%=scarves[i].price%><%=scarves[i].currency%></b></h5>
                    </div>
                    <div class="col-sm-9">
                        <a class="btn btn-default" href="/womens/accessories/scarves/<%=scarves[i].id%>">More info</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>                                   
    <%}%>
</div>

</div>
