<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>


<div class="container">
        <div class="row">
            <div class="signUpPanel">
                    <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Sign Up
                                </div>
                                <div class="panel-body">
                                                                                 
                                    <form data-toggle="validator" role="form" action="/login/signUp" method="POST">
                                        <div class="form-group">
                                                <label for="name">First Name:</label>
                                            <input type="text" name="name" id="name" class="form-control" placeholder="name" required>
                                            
                                        </div>

                                        
                                        <div class="form-group">
                                                <label for="lastname">Last Name:</label>
                                                <input type="text" name="lastname" id="lastname" class="form-control" placeholder="lastname" required>
                                        </div>

                                        <div class="form-group">
                                                <label for="inputEmail" class="control-label">Email</label>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-error="Bruh, that email address is invalid" required>
                                                <div class="help-block with-errors"></div>
                                        </div>

                                        <div class="form-group">
                                                <label for="username">User Name:</label>
                                                    <input type="text" name="username" id="username" class="form-control" placeholder="username" required>
                                        </div>
                                       
            
                                        <div class="form-group">
                                                <label for="password">Password:</label>
                                                    <input type="password" name="password" id="password" class="form-control" placeholder="Enter password" required>
                                            </div>
                                       
                                        
                                        <input type="submit" class="btn btn-success" value="Sign Up">    
                                        <a href="/login" class="btn btn-default">Log in</a>                                        
                   
                                        
                                        
                                    </form>
                                    

                    
                                </div>
                            </div>
                          <div class="panel-footer clearfix">
                                <div class="pull-left">
                                
                                </div>
                            </div>
                        </div>
            </div>
          
        </div>
    </div>
    
    
    