<div class="container">
        
        <div id="products" class="row list-group">
        <%for(var i=0;i<ties.length;i++){%>
                
        <div class="item  col-sm-6">
        <div class="thumbnail">
            <img class="group list-group-image" src="/public/images/<%=ties[i].image_groups[0].images[0].link%>" alt="" />
            <div class="caption">
                <h6 class="group inner list-group-item-heading">
                        <%=ties[i].name%></h6>
                <div class="row">
                    <div class="col-sm-9">
                        <h5><b> Price:<%=ties[i].price%><%=ties[i].currency%></b></h5>
                    </div>
                    <div class="col-sm-9">
                        <a class="btn btn-default" href="/mens/accessories/mAccessories/ties/<%=ties[i].id%>">More info</a>
                    </div>
                </div>
            </div>
        </div>
        
        </div>                                   
        <%}%>
        </div>
        
        </div>
        