   <div class="container">
            
    <div id="products" class="row list-group">
            <%for(var i=0;i<tops.length;i++){%>
                    
        <div class="item col-sm-6">
            <div class="thumbnail">
                <img class="group list-group-image" src="/public/images/<%=tops[i].image_groups[0].images[0].link%>" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                            <%=tops[i].name%></h4>
                    <div class="row">
                        <div class="col-sm-9">
                            <h5><b> Price:<%=tops[i].price%><%=tops[i].currency%></b></h5>
                        </div>
                        <div class="col-sm-9">
                            <a class="btn btn-default" href="/womens/clothing/tops/<%=tops[i].id%>">More info</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>                                   
        <%}%>
    </div>
    
</div>
